<div class='row vertical-center-row'>
    <div class='col-sm-3 col-md-3 text-center'>
        <a href="http://stackoverflow.com/users/3462319/depperm"><i class="fa fa-stack-overflow fa-5x" aria-hidden="true"></i></a>
    </div>
    <div class='col-sm-3 col-md-3 text-center'>
        <a href="https://www.linkedin.com/in/epper-marshall-09b15382"><i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i></a>
    </div>
    <div class='col-sm-3 col-md-3 text-center'>
        <a href="https://github.com/depperm"><i class="fa fa-github fa-5x" aria-hidden="true"></i></a>
    </div>
    <div class='col-sm-3 col-md-3 text-center'>
        <a href="mailto:epper.marshall@gmail.com?Subject=Advanced%20LDS%20Search"><i class="fa fa-envelope fa-5x" aria-hidden="true"></i></a>
    </div>
</div>
